# Virtual environment
venv/
.venv/
env/
.env/

# Byte-code files
*.pyc
__pycache__/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Other temporary files
*.tmp
*.bak

# Ignore specific files in the poker_server directory
backend/poker_server/flash.py
backend/poker_server/more_chips.py